# MySQLサーバーの設定
[mysqld]
bind-address = 0.0.0.0                                  # すべてのIPアドレスからの接続を許可
character-set-server=utf8mb4                            # 文字コードをUTF-8（4バイト対応）に設定
collation-server=utf8mb4_general_ci                     # 照合順序の設定
default-authentication-plugin = mysql_native_password  # 認証方式（MySQL 8.0互換用）

# クライアント側の設定
[client]
default-character-set=utf8mb4                           # クライアントの文字コード
